/* DEFAULT SETUP */

* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a, h2 a, h3 a {
    display: inline-block;
    color: blue;
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* SETTINGS */

html {
    --color: 
}


/* DEV STYLES */

/* body * {
    border: 1px solid blue;
    padding: 2px;
} */

/* site structure */

section {
    min-height: 300px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex-grow: 1;
}


inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


/* TYPOGRAPHY */

@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-light-italic;
    src: url(Fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto-light;
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}


/* COMPONENTS */
.button {
    display: inline-block;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-family: Roboto-bold;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 6px;

}

product-card {
    display: block;
}


/* MODULES */

header inner-column {
    margin: 10px;
    padding: 10px;
}

.logo {
    display: block;
    margin: 20px;
    float: left;
    margin-left: 100px;
    font-family: Roboto-bold;
    font-size: 30px;
}


.logo-link a {
    display: inline-block;
    float: right;
    margin: 20px;
    color: #e5e7eb;
    margin-right: 0%;
}


.Box1 {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
  

}

.Box1 picture {
    max-width: 600px;

}

.Box1 text-content {
    display: block;
}


@media (min-width: 700px) {
    .Box1 {
       flex-direction: row;
        
        
    }
    .Box1 :is(text-content, picture) {
        flex-basis: 50%;
       /* border: 1px solid blue; */
       
    }
}

.salut {
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: Roboto;

}

.salut h1 {
    font-size: 48px;
    font-family: Roboto-bold;
    color: #f9faf8;
}

.salut p {
    font-size: 18px;
}

products-grid {
    display: block;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

products-grid div {
    font-family: Roboto-bold;
    font-size: 36px;
    color: #1f2937;

}

products-grid .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
}

.products-list text-content {
    font-size: 16px;
    font-family: Roboto-light;
    color: #1f2937;
}

product-card picture {
    border: 5px solid #3882f6;
    border-radius: 6px;
}

.quote {
    background-color: #e5e7eb;
    display: block;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.Quote {
    display: block;
    text-align: justify;
}

.quote-section quote-source {
    font-size: 22px;
    font-family: Roboto-bold;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.Quote {
    font-size: 36px;
    font-family: Roboto-light-italic;
    color: #1f2937;
}

.call {
    background-color: #3882f6;
    display: flex;
    flex-grow: 0;
   padding: 55px;
   padding-left: 50px;
   padding-right: 50px;
   margin-top: 10vh;
   margin-bottom: 15vh;
    border-radius: 6px;
}

.call-left {
    display: flex;
    justify-content: center;
    margin-left: 70px;
}

.call-right {
    color: #f9faf8;
    border-radius: 6px;
    justify-self: left;
    display: flex;
    flex: 0%;
    padding: 0;
}

.call-right .button2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Roboto;
    border: 1px solid #f9faf8;
    border-radius: 6px;
    font-size: 22px;
}

header,
footer {
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
   
   
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}



.call-head {
    font-size: x-large;
    font-family: Roboto-bold;
}

.call-sub {
    color: #e5e7eb;
}

.call-left {
    color: #f9faf8;
    padding: 10px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    flex: 1;
   

}


.call-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #e5e7eb;
}