* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-bold;
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-light-italic;
    src: url(Fonts/Roboto/Roboto-LightItalic.ttf);
}

header,
footer {
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
    margin: 0%;
    padding: 0%;
   
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


body {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: Roboto-bold;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5em;
    margin-top:  10px;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.header-links {
    display: flex;
    justify-content: right;
   
}
ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.Box-1 {
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: Roboto;
    margin: 0px;
    display: flex;
    flex-direction: row;

}
img {
    max-width: 100%;
    max-height: 100%;
}


.Box1-Left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 13px;
    font-family: Roboto-bold;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.head-text {
    font-family: Roboto-bold;
    font-size: 48px;
    color: #f9faf8;
}

.Box1-Right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 100px;
}

button {
    max-width: 150px;
    max-height: 50px;
}

.Box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    font-family: Roboto-bold;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

figure {
    display: inline-block;
    height: 200px;
    width: 200px;
}

figcaption {
    font-family: Roboto;
    color: #1f2937
    font-size: 18px;

}

.Box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: Roboto-light-italic;
}

blockquote{
    margin: 
    
}
figcaption {
    font-size: 20px;
    font-family: Roboto-bold;
    color: #1f2937;
}

.Call-to-action {
    background-color: #3882f6;
    margin: 100px;
    border-radius: 10px;
}

.call-left {
    color: #f9faf8;
    padding: 10px;
    font-family: Roboto;
    display: flex;

}

